/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

html {
  color: #222;
  font-size: 18px;
  line-height: 1.7;
  font-family: 'Taviraj', serif; }

h1,
h2,
h3,
nav {
  font-family: 'Open Sans', sans-serif; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background: #E1F6FF;
  padding: 32px 16px; }

h1 {
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 48px 0; }

h3 {
  margin: 48px 0 16px; }

nav {
  overflow: hidden;
  margin: 48px 0; }

nav ul {
  margin: 0;
  padding: 0;
  font-size: 22px;
  list-style: none; }

nav li {
  float: left;
  margin: 0 16px 0 0; }

nav li:nth-child(1) {
  color: #030055; }

nav li:nth-child(2) {
  color: #006C19; }

nav li:nth-child(3) {
  color: #720085; }

nav li:last-child {
  margin: 0; }

.box, .freelance, .fulltime, .parttime {
  padding: 24px 16px;
  border: 3px solid;
  border-radius: 10px;
  background: white;
  margin: 48px 0; }

.freelance {
  border-color: #720085; }

.fulltime {
  border-color: #030055; }

.parttime {
  border-color: #006C19; }

section {
  color: #424242; }

h2 {
  margin: 0;
  float: left; }

.lower-wrapper,
.upper-wrapper {
  overflow: hidden; }

.posted,
.meta {
  float: right; }

.place {
  float: left; }

.upper-wrapper {
  margin-bottom: 48px; }

button {
  padding: 16px 48px;
  /* Rectangle 3: */
  background: #FFFFFF;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 0;
  font-size: 22px;
  margin: 32px; }
  button.loading, button:active {
    padding: inherit 87px;
    /* Rectangle 3 Copy: */
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.62); }

ul {
  list-style: square; }

ul.no-style {
  list-style: none;
  padding: 0;
  margin: 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
